.container {
  height: 100vh;
  padding-top: 10%;
}

.page_404{
  padding:40px 0;  font-family: 'Arvo', serif;

  background: transparent;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{

  background-image: url('/assets/images/dribbble_1-ezgif.com-gif-maker.gif');
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1{
  font-size:80px;
  color: whitesmoke;
}

.four_zero_four_bg h3{
  font-size:80px;
}

.link_404{
  color: #fff!important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
border-radius: 30px}
.contant_box_404{ margin-top:-50px;}

p{
  color: whitesmoke;
}

