<div class="laptop">
  <div class="container">
    <div class="laptop_box">
      <table>
        <tr>
          <td>Brand</td>
          <td>Model</td>
          <td>Seller</td>
          <td>Phone</td>
          <td>Email</td>
        </tr>
        <tr *ngFor="let item of devicesWithOwners">
          <td>{{ item.brand }}</td>
          <td>{{ item.model }}</td>
          <td>{{ item.owner.name }}</td>
          <td>{{ item.owner.phone }}</td>
          <td>
            <a href="mailto:{{ item.owner.email }}?subject=Hello&body=This%20is%20a%20message">
              {{ item.owner.email }}
            </a>
          </td>
          <td>
            <button class="clear-btn" (click)="openModal(item, item.owner)">
              Send Message
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<!-- Модал -->

<app-chat
  *ngIf="isChatModalOpen"
  [sender]="userService.user?._id || 'Unknown user'"
  [about]="selectedDevice?.image || ''"
  [receiverId]="selectedSeller?._id || ''"
  (modalClosed)="isChatModalOpen = false">
></app-chat>
