table {
  width: 100%;
  height: auto;
  color: white;
  text-align: center;

}

table td{
  border-bottom: 1px solid whitesmoke;
  width: 10%;
  height: 80px;

}

.laptop {
  padding-top: 300px;
  min-height: 100vh;

}

.clear-btn {
  width: 50%;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  background-color: transparent;
  color: whitesmoke;
}
.laptop_box p {
  text-align: center;
}

a {
  color: whitesmoke;
  font-style: italic;
  font-size: 18px;
}
