
<div class="contact">
  <span><app-error-message /></span>
  <div class="register">


    <form #form="ngForm" (ngSubmit)="submitHandler()">
      <div class="form-header">
        <h3>Edit your offer here</h3>

      </div>
      <div class="fields">

        <div class="field">
          <input type="text" id="brand" name="brand" placeholder="brand" ngModel #brand="ngModel"  required value=""  [@fieldAnimation]="brand.touched && brand.invalid ? 'invalid' : 'valid'">
          <div class="error" *ngIf="brand.touched">
            <div *ngIf="brand.errors?.['required']">
              Brand is required!
            </div>
          </div>
        </div>
        <div class="field">
          <input type="text" id="model" name="model" placeholder="model" ngModel #model="ngModel" required value=""  [@fieldAnimation]="model.touched && model.invalid ? 'invalid' : 'valid'">
          <div class="error" *ngIf="model.touched">
            <div *ngIf="model.errors?.['required']">
              Model is required!
            </div>
          </div>
        </div>
        <div class="field">
       <textarea
         id="description"
         name="description"
         placeholder="Description"
         ngModel
         #description="ngModel"
         required
         maxlength="480"
         [@fieldAnimation]="description.touched && description.invalid ? 'invalid' : 'valid'">
  </textarea>
          <div class="error" *ngIf="description.touched">
            <div *ngIf="description.errors?.['required']">
              Description is required!
            </div>
          </div>
        </div>
        <div class="field">
          <input type="text" id="price" name="price" placeholder="price" ngModel #price="ngModel" required value=""  [@fieldAnimation]="price.touched && price.invalid ? 'invalid' : 'valid'">
          <div class="error" *ngIf="price.touched">
            <div *ngIf="price.errors?.['required']">
              Price is required!
            </div>
            <div *ngIf="description.errors?.['maxlength'] ">
              Description can not be longer than 480 characters!
            </div>
          </div>
        </div>
        <div class="field">
          <input type="text" id="image" name="image" placeholder="image URL" ngModel #image="ngModel" required value=""  [@fieldAnimation]="image.touched && image.invalid ? 'invalid' : 'valid'">
          <div class="error" *ngIf="image.touched">
            <div *ngIf="image.errors?.['required']">
              Image is required!
            </div>
          </div>
        </div>
        <div class="button">
          <input type="submit" class="btn" value="Edit Product" />
           <input type="submit" class="btn" [routerLink]="['/', 'device-details', deviceId]" value="Cancel" />
        </div>
      </div>
    </form>
  </div>
</div>
