<div  class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Our Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="empty"  *ngIf="noDevices">
        <p class="no-products">There are not products yet</p>
      </div>

      <div class="col-md-12" *ngIf="!noDevices">
        <div class="our_products">
          <div class="row">
            <div class="col-md-4 margin_bottom1"  *ngFor="let device of devices">
              <div class="product_box" >
                <h3>{{device.model}}</h3>
                <figure><img src="{{device.image}}" alt="#"/></figure>
                <button type="button" [routerLink]="['/', 'device-details', device._id]">Details</button>>
              </div>
            </div>

            <div class="col-md-12">
              <a class="read_more" *ngIf="!isAllLoaded" (click)="loadAllDevices()" >See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
