.three_box1 {
  background: url(/assets/images/contact_g.jpg);
  background-repeat: no-repeat;
  padding: 143px 0 90px 0;
  display: block;
  justify-content: center;
  background-size: 100% 100%;

}
.three_box1 h3 {
  font-style: italic;
}

.box_text_test {
  background:whitesmoke;
  text-align: center;
  width:50% ;
  padding-top: 90px;


}

.box_text_test1 {
  background:whitesmoke;
  text-align: center;
  width:50% ;
  padding-top: 90px;
  position: relative;

}

.box_text_test h3 {
  color: black;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  padding-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  border: #48ca95 solid 1px;
  border-radius: 15px;
  background-color: whitesmoke;


}

 p {
  font-size: 17px;
  color: black;
  line-height: 30px;
}

.box_text_test i {
  padding-bottom: 25px;
  margin-bottom: 40px;
  display: block;
}
span {
  color:  #48ca95;
  position: absolute;
  top: 1em;
  right: 0;
background-color: yellow;
  border: 1px solid #48ca95;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
}

.edit-btn {
  font-size: 22px;
  transition: ease-in all 0.5s;
  background-color: #48ca95;

  color: #fff;
  padding: 10px 0px;
  max-width:150px;
  width: 100%;
  display: block;

  margin: 50px auto;
  border-radius: 30px;
  font-weight: 500;
}

.edit-btn:hover {
  background-color: #000;
  transition: ease-in all 0.5s;
  color: #fff;
}

.profile-btn {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;

}

.price {
  font-weight: bold;
}
.price span {
  color: red;
  font-size: 1.9em;
}


