#description {
  overflow: auto;
  resize: vertical;
  width: 100%;
  background: transparent;
  color: whitesmoke;
  text-align: center;
  border: 1px solid whitesmoke;
}

textarea::placeholder,
input::placeholder {
  color:  gray;
  font-style: italic;
  opacity: 1;
}

.register form .fields .button input {
  margin-right: 5px;
}
