.search-container {
  text-align: center;
  padding-top: 100px;
  min-height: 100vh;

}

h2 {
  color: darkblue;
}
h3 {
  color: darkblue;
  font-style: italic;
}
h4 {
  color: darkblue;
}

#price {
  color: red;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  padding: 10px 15px;
  border: none;
  background-color: #48ca95;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.device-image {
  max-width: 150px;
  display: block;
  margin: 10px auto;
}

li {
  padding: 1em;
}

#no-res {
  color: red;
  font-style: italic;
}
