
<div class="laptop">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="titlepage">
          <p>Every Computer and laptop</p>
          <h2>Up to 40% off !</h2>
          <div class="buttons" style="display: flex">
            <a class="read_more" (click)="buyHandler()">Buy</a>
            <a class="read_more" routerLink="/catalog">Cancel</a>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="laptop_box" *ngIf="hasDevices">
          <table  *ngFor="let device of devices">
            <tr>
              <td>{{device.brand}} {{device.model}}</td>
              <td>{{device.price}} BGN</td>
              <td><button class="clear-btn"  (click)="cancelHandler(device._id ?? '')" >clear</button></td>
            </tr>
          </table>
          <table>
            <tr class="total">
              <td>Total: </td>
              <td>{{price}} BGN</td>
              <td><button class="clear-btn">clear all</button></td>

            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
