table {
  width: 100%;
  height: auto;
  color: darkblue;
  text-align: center;

}



table td{
  font-size: 18px;
  border-bottom: 1px solid black;
  width: 30%;
  height: 80px;

}

.laptop {
  padding-top: 300px;
  min-height: 100vh;

}

.total {
  font-weight: bold;
  color:  darkblue;
}

.titlepage h2 {
  color: darkblue;
}

.buttons {
  gap: 2em;
}

.read_more {
  border-radius: 4px;
}
.clear-btn {
  width: 50%;
  border-radius: 4px;
  color: #fff;
  background-color: #48ca95;


}

.clear-btn:hover {
  background-color: #000;
  transition: ease-in all 0.5s;
  color: #fff;
}



.laptop_box p {
  text-align: center;
}
p {
  color: whitesmoke;
  font-size: 2em;
}
