table {
  width: 100%;
  height: auto;
  color: white;

  text-align: center;

}

table td{
  font-size: 18px;
  border-bottom: 1px solid whitesmoke;
  width: 30%;
  height: 80px;

}

.laptop {
  padding-top: 300px;
  min-height: 100vh;

}

.total {
  font-weight: bold;
  color:  #48ca95;
}

.titlepage h2 {
  color: #48ca95;
}

.buttons {
  gap: 2em;
}

.read_more {
  border-radius: 4px;
}
.clear-btn {
  width: 50%;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  background-color: transparent;
  color: whitesmoke;
}
.laptop_box p {
  text-align: center;
}
p {
  color: whitesmoke;
  font-size: 2em;
}
