<div *ngIf="isUpdating" class="loading-spinner">Updating...</div>
<ng-container *ngIf="!showEditMode">
<div class="three_box1">
  <div class="container">

        <div class="box_text_test">
          <i><img src="./assets/images/thr.png" alt="#"/></i>
          <h3>Welcome: <span>{{user?.name}}</span> </h3>
          <p>Your contact info:</p>
          <p>Email: {{user?.email}} </p>
          <p>Phone number: {{user?.phone}}</p>
          <div class="profile-btn">

            <button class="edit-btn" (click)="onToggle()">Edit</button>
            <button class="edit-btn" routerLink="/my-offers">My offers</button>
            <button class="edit-btn" routerLink="/create-offer">Create offer</button>
          </div>

      </div>

</div>
</div>
</ng-container>

<ng-container *ngIf="showEditMode">
  <div class="contact">
    <div class="register">
      <form #form="ngForm" (ngSubmit)="submitHandler()">

        <div class="header">
          <h3>Profile Info</h3>
          <app-error-message />
        </div>

        <div class="fields">
          <div class="field">

            <input type="text" name="name"  ngModel #name="ngModel" required minlength="5" />
            <div class="error" *ngIf="name.touched">
              <div *ngIf="name.errors?.['required']">
                Name is required!
              </div>
              <div *ngIf="name.errors?.['minlength'] ">
                Name must be more then 5 characters!
              </div>
            </div>
          </div>

          <div class="field">

            <input type="text" name="phone"   ngModel #phone="ngModel" required min="1" max="105"/>
            <div class="error" *ngIf="phone.touched">
              <div *ngIf="phone.errors?.['required']">
                Phone number is required!
              </div>
              <div *ngIf="phone.errors?.['min'] || phone.errors?.['max']">
                Phone number must be between 1 and 105!
              </div>
            </div>
          </div>

          <div class="button"  >
            <input type="submit" value="Update" />
            <input type="submit" (click)="onToggle()" value="Cancel" />
          </div>
        </div>
      </form>
    </div>
  </div>

</ng-container>
