<div *ngIf="isUpdating" class="loading-spinner">Updating...</div>
<ng-container *ngIf="!showEditMode">
  <div class="three_box">
    <div class="container">

      <div class="box_text">
        <i><img src="./assets/images/thr.png" alt="#"/></i>
        <h3>Welcome: <a>{{user?.name}}</a> </h3>
        <p>Your contact info:</p>
        <p>Email: <a>{{user?.email}}</a> </p>
        <p>Phone number: <a>{{user?.phone}}</a></p>
        <p>
          You have:
          <a [ngClass]="{'red': unreadMessages.length > 0, 'green': unreadMessages.length === 0}"
             (click)="goToMailbox()">
            {{ unreadMessages.length }}
          </a>
          unread messages.
        </p>
        <div class="profile-btn">

          <button class="edit-btn" (click)="onToggle()">Edit</button>
          <button class="edit-btn" routerLink="/my-offers">My offers</button>
          <button class="edit-btn" routerLink="/create-offer">Create offer</button>
        </div>
      </div>

      </div>

    </div>

</ng-container>

<ng-container *ngIf="showEditMode">
  <div class="contact">
    <div class="register">
      <form #form="ngForm" (ngSubmit)="submitHandler()">

        <div class="form-header">
          <h3>Profile Info</h3>
          <app-error-message />
        </div>

        <div class="fields">
          <div class="field">
            <input type="text" name="name"  ngModel #name="ngModel" required minlength="5" [@fieldAnimation]="name.touched && name.invalid ? 'invalid' : 'valid'" />
            <div class="error" *ngIf="name.touched">
              <div *ngIf="name.errors?.['required']">
                Name is required!
              </div>
              <div *ngIf="name.errors?.['minlength'] ">
                Name must be more then 5 characters!
              </div>
            </div>
          </div>

          <div class="field">

            <input type="text" name="phone"   ngModel #phone="ngModel" required min="1" max="15" [@fieldAnimation]="phone.touched && phone.invalid ? 'invalid' : 'valid'"/>
            <div class="error" *ngIf="phone.touched">
              <div *ngIf="phone.errors?.['required']">
                Phone number is required!
              </div>
              <div *ngIf="phone.errors?.['min'] || phone.errors?.['max']">
                Phone number must be between 1 and 105!
              </div>
            </div>
          </div>

          <div class="button"  >
            <input type="submit" value="Update" />
            <input type="submit" (click)="onToggle()" value="Cancel" />
          </div>
        </div>
      </form>
    </div>
  </div>

</ng-container>
