.error-message{
    padding: 0.5em;
    border: 1px solid whitesmoke;
    background-color:transparent;
    border-radius: 0.5em;
    width: fit-content;
  color: #bf4d4d;
}
.error-message p{
    margin: 0;
    font-size: 1em;
}
