button {
  width: 200px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  background-color: #48ca95;
  font-weight: 500;
  padding: 10px 0;
  margin: 10px auto 0;

}

button:hover {
  background-color: #000;
  transition: ease-in all 0.5s;
  color: #fff;
}


h2 {
  color: darkblue;
}



button:hover {
  background: #48ca95;
  transition: ease-in all 0.5s;
}
.empty {
  text-align: center;
  width: 100%;
}
.no-products {
  color: red;
  font-size: 50px;
  text-align: center;
  font-style: italic;
  background-color: transparent;

}

img {
  max-width: 300px;
  height: 300px;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid #48ca95;
  border-radius: 5px;
}








